.all {
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}

img {
    width: 180px;
}

#jumbo {
    font-family: 'Press Start 2P', cursive;
    background-color: #efcb5a;
    color: #53180f;
    text-shadow: 2px 2px 2px white;
    padding: 15px;
    margin-top: 2%;
}

.burgerND {
    background-color: #08aa6e;
    padding: 10px;
    border: 2px solid #0c4b34;
    margin: 10px;
    width: 75%;
    font-size: 22px;
    color: white;
    box-shadow: 2px 2px 2px grey;
}

.burgerND:hover {
    background-color: #bb8030;
}

.burgerD {
    background-color: #f95369;
    padding: 10px;
    border: 2px solid #631111;
    margin: 10px;
    width: 75%;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-left: 12%;
    box-shadow: 2px 2px 2px grey;

}

.burgerBTN {
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    width: 175px;
    color: white;
    background-color: #482820;
}

input {
    width: 252px;
    text-align: center;
    background-color: #9dea57;
}

footer {
    background-color: #efcb5a;
    color: white;
}